@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face{
  font-family: "burtons";
  src: url('/react-portfolio/public/Burtons.otf') format('opentype');
}

.dark .icon-white {
  filter: brightness(0) invert(1);
}

.btn.btn-primary {
  border-color: #00B1BA;
  background-color: #00B1BA; /*#00848C;*/
  color: white; /* Set the text color to white to ensure readability */
}

.btn.btn-primary:hover {
  background-color: #00848C;
}

.btn.btn-primary:active {
  background-color: #00848C;
}